<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h3>Recent Books</h3>
<ul>
    {% for book in books %}
    <li>{{ book.title }} ({{ book.publisher_year }})</li>
        {% empty %}
        <li>No recent books found!</li>
    {% endfor %}
</ul>

<p>Total Books: {{ total_books }}</p>
<p>Average publisher year:{{ avg_books }}</p>
<p>Filtered Books:</p>
<ul>
    {% for book in filtered_books %}
        <li>{{ book.title }}</li>
    {% endfor %}
</ul>

</body>
</html>